.Square {
    float: left;
    margin: 20px;
    margin-right: 0;
}

.SquareControls {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    width: 200px;
}

.SquareContainer .clear {
    clear: both;
}